<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        // para transformar o log em arquivo
        <File name = "File" fileName = "app.log" append = "true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg %n" />
        </File>

        // configura as informacoes que o log mostra
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg %n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            // add novo appender ref para o novo append
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>